* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.animation-prediction {
  animation: prediction-fade-in 0.5s ease-in;
}

.animation-final-prediction {
  animation: final-prediction-fade-in 0.5s ease-in;
}

img {
  width: 50%;
  height: auto;
}

#fruit-prediction img,
#meat-prediction img,
#greedy-prediction img,
#box-prediction img {
  width: 150px;
  height: 150px;
  background: linear-gradient(to bottom right, #ffff00, #e19f04);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#final-prediction img {
  width: 150px;
  height: 150px;
}

.animasi-prediction {
  transition: all 0.5s ease-in-out;
  transform: translateX(-50%);
  opacity: 0;
}

.animasi-prediction.show {
  opacity: 1;
  transform: translateX(0);
}

#final-prediction {
  background: linear-gradient(to right, #00bfff, #0080ff);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#final-prediction.show {
  opacity: 1;
}

@keyframes final-prediction-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
